@font-face {
    font-family: 'Sassy Thrash';
    src: url('SassyThrash-Regular.woff2') format('woff2'),
        url('SassyThrash-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

